.cajaProducto{
    background-color: wheat;
    width: fit-content;
    border-radius: 1rem;
}
.imgDeProducto{
    width: 15rem;
    height: 20rem;
    padding: 2rem;
    align-self: center;
}
.textoDeProducto{
    text-align: center;
}
.principal{
    padding: 1rem;
    margin: 1rem;
}
header{
    height: 5rem;
    background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
}