.cajaProducto{
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 1rem;
    border: 0.1875rem solid transparent;
    transition: border 0.15s linear;
}
.cajaProducto:hover{
    border: 0.1875rem solid gainsboro;
}
.imgDeProducto{
    width: 15rem;
    height: 20rem;
    padding: 2rem;
    align-self: center;
}
.textoDeProducto{
    text-align: center;
}
.principal{
    padding: 1rem;
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.Opciones{
    background-color: white;
    width: 10%;
    height: 90%;
    text-align: center;
    flex-direction: row;
    flex-direction: row;
    margin-right: 0.3rem;
}
header{
    height: 5rem;
    background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    display: flex;
}
body{
    margin: 0px;
    padding: 0px;
}
