.cajaProducto{
    background-color: wheat;
    width: fit-content;
    border-radius: 1rem;
}
.imgDeProducto{
    width: 15rem;
    height: 20rem;
    padding: 2rem;
    align-self: center;
}
.textoDeProducto{
    text-align: center;
}
.principal{
    padding: 1rem;
    margin: 1rem;
}
header{
    height: 5rem;
    background-image: repeating-linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 2%, rgba(0, 212, 255, 1) 5%, rgb(11, 11, 131) 2%,rgb(3, 1, 51) 0%);
    width: 100%;
    display: flex;
}
.Opciones{
    background-color: white;
    width: 10%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 0.3rem;
    border-bottom-right-radius: 0.5em;
}
body{
    margin: 0px;
    padding: 0px;
}