@font-face {
  font-family: "comic-sans";
  src: url(../qd-better-comic-sans-font/Qdbettercomicsans-jEEeG.ttf);
} .cajaProducto {
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 1rem;
    border: 0.1875rem solid transparent;
    transition: border 0.15s linear;
} .cajaProducto:hover {border: 0.1875rem solid gainsboro;}
.imgDeProducto {
    width: 15rem;
    height: 20rem;
    padding: 2rem;
    align-self: center;
} .textoDeProducto {
    text-align: center;
    font-family: comic;
    align-content: center;
    justify-content: center;
} .principal {
    padding: 1rem;
    margin: 1rem;

} .Opciones {
    background-color: white;
    width: 10%;
    height: 90%;
    text-align: center;
    margin-right: 0.3rem;
} header {
    height: 5rem;
    background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    display: flex;
} body {
    margin: 0px;
    padding: 0px;
} .anuncio {
    background-color: gray;
    height: auto;
    width: 25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} .anuncio img {
    width: 20rem;
    height: max-content;
} .perfilProducto {
    background-color: whitesmoke;
    width: 100%;
    height: 34.92rem;
    border-radius: 1rem;
    border: 0.1875rem solid transparent;
    transition: border 0.15s linear;
} a:link{
    font-family: cursive;
    align-self: center;
} a:visited{
    font-family: comic-sans;
    align-self: center;
} .perfilProducto form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
} .perfilProducto:hover {border: 0.1875rem solid gainsboro;}
a p{max-width: 15rem;}
h1{font-family: comic-sans;}